language: python
python:
  - "2.7"

addons:
  apt:
    packages:
    - liblapack-dev
    - libblas-dev
    - gfortran
    - libnetcdf-dev
    - libhdf5-dev
    - libgeos-dev

install:
  - sudo ln -s /usr/lib/libgeos-3.3.3.so /usr/lib/libgeos.so
  - sudo ln -s /usr/lib/libgeos-3.3.3.so /usr/lib/libgeos.so.1
  - pip install --allow-external basemap --allow-unverified basemap basemap
  - pip install netCDF4
  - python setup.py install

script:
  - python setup.py test
