language: python
python:
  - "2.7"

addons:
  apt:
    packages:
    - liblapack-dev
    - libblas-dev
    - gfortran
    - libgeos-dev
    - libglib2.0-dev
    - netcdf-bin
    - libhdf5-serial-dev

before_install:
  - wget http://security.ubuntu.com/ubuntu/pool/universe/n/netcdf/libnetcdf-dev_4.1.1-6_amd64.deb
  - sudo dpkg -i libnetcdf-dev_4.1.1-6_amd64.deb

install:
  - sudo ln -s -f /usr/lib/libnetcdf.so /usr/lib/libnetcdf.a
  - sudo ln -s -f /usr/lib/libnetcdff.so /usr/lib/libnetcdff.a
  - sudo ln -s -f /usr/lib/libhdf5.so /usr/lib/libhdf5.a
  - sudo ln -s -f /usr/lib/libhdf5_hl.so /usr/lib/libhdf5_hl.a
  - ls -lah /usr/*/libnetcdf*
  - ls -lah /usr/*/libhdf5*
  - sudo ln -s /usr/lib/libgeos-3.2.2.so /usr/lib/libgeos.so
  - sudo ln -s /usr/lib/libgeos-3.3.8.so /usr/lib/libgeos.so.1
  - wget "https://bootstrap.pypa.io/ez_setup.py" -O- | python
  - pip install numpy
  - ./install-pyferret.sh
  - export PYTHONPATH=$PYTHONPATH:$HOME/pyferret/ib/python2.7/site-packages:$HOME/esmp.ESMF_6_3_0rp1_ESMP_01
  - yes | python setup.py install
  - pip install coveralls

cache:
  - bundler
  - apt

script:
  - coverage run --source=geodat setup.py test

after_success: coveralls