language: python
python:
  - "2.7"

addons:
  apt:
    packages:
    - liblapack-dev
    - libblas-dev
    - gfortran
    - libgeos-dev
    - libhdf5-dev
    - libhdf5-serial-dev

install:
  - sudo ln -s /usr/lib/libgeos-3.2.2.so /usr/lib/libgeos.so
  - sudo ln -s /usr/lib/libgeos-3.3.8.so /usr/lib/libgeos.so.1
  - #pip install --allow-external basemap --allow-unverified basemap basemap
  - #pip install pyspharm --allow-external pyspharm --allow-unverified pyspharm
  - #pip install netCDF4
  - python setup.py install
  - pip install coveralls

script:
  - python setup.py test
  - coverage run --source=geodat setup.py test

after_success: coveralls